@font-face {
  font-family: "sr";
  src: url("../assets/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "sm";
  src: url("../assets/fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "sb";
  src: url("../assets/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "sl";
  src: url("../assets/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
  font-style: normal;
}

@import "./reset.css";
@import "./layout.css";
* {
  box-sizing: border-box;
}

body {
  font-family: "sr";
  color: #18171a;
}

.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}

.font-red {
  color: #e03d38;
}
.font-yellow {
  color: #ffa726;
}
.font-blue {
  color: #1142bf;
}
.font-green {
  color: #00b894;
}
.font-black {
  color: #18171a;
}
.text-underline {
  text-decoration: underline;
}
.text-bold {
  font-family: "sm";
}
button.bottom-button {
  width: 100%;
  border-radius: 5px;
  &.blue {
    background-color: #1142bf;
    color: #fff;
  }
  &.light-blue {
    background-color: #edf0f7;
    color: #1142bf;
  }
  &.gray {
    background-color: #dfdfdf;
    color: #999;
  }
  &.black {
    background-color: #18171a;
    color: #fff;
  }
}

dialog {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 0;
  z-index: 10;
}

input {
  &.radio-type {
    appearance: none;
    border: 1px solid #ededed;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    + label {
      font-size: 18px;
      font-family: "sm";
      color: #bbb;
      margin-left: 15px;
    }
    &:checked {
      appearance: auto;
      accent-color: #1142bf;
      + label {
        color: #18171a;
      }
      &::before {
        left: 0;
        border: 1px solid #18171a;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        content: "";
        display: block;
      }
    }
  }
  &.text-type {
    caret-color: #1142bf;
    font-size: 26px;
    font-family: "sm";
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ededed;
    &::placeholder {
      color: #e9eef4;
      transition: ease-in-out 0.2s padding;
    }
    &:focus {
      border-bottom: 1px solid #18171a;
      &::placeholder {
        padding-left: 15px;
      }
    }
    &:not(:placeholder-shown) {
      border-bottom: 1px solid #18171a;
    }
    &.left {
      padding-left: 10px;
    }
  }
  &.file-type {
    display: none;
    width: 100%;
    + label {
      display: block;
      width: 100%;
      background: url("/assets/icons/open-folder-gray.svg") no-repeat;
      background-position: left 15px center;
      background-color: #f5f6fa;
      padding: 20px 48px;
      border-radius: 5px;
      font-family: "sr";
      font-size: 16px;
    }
    &.on {
      + label {
        background: url("/assets/icons/open-folder-blue.svg") no-repeat;
        background-position: left 15px center;
        background-color: #fff;
        border: 1px solid #18171a;
        font-family: "sm";
      }
    }
  }
}

.check-list {
  background-color: #f5f6fa;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  li {
    list-style: url("/assets/icons/check-gray.svg") inside;
    color: #bbb;
    font-size: 14px;
    &.on {
      list-style: url("/assets/icons/check-blue.svg") inside;
      color: #1142bf;
    }
  }
}

.util-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ededed;
  background-color: #fff;
  .back {
    position: absolute;
    background: url("/assets/icons/left-arrow.png") no-repeat;
    width: 24px;
    height: 20px;
    font-size: 0;
    left: 20px;
  }
  .header-title {
    font-family: "sr";
    font-size: 18px;
  }
}
.page-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  // background-color: rgba($color: #fff, $alpha: 0.8);
  padding: 18px 20px;
  button {
    height: 60px;
    font-family: "sm";
    font-size: 18px;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 20px;
  dl {
    font-size: 15px;
    color: #4e5968;
    small {
      color: #8894a0;
      font-size: 12px;
    }
    &.flex {
      display: flex;
      align-items: center;
      img {
        width: 14px;
        height: 14px;
        margin-left: 10px;
      }
    }
  }
  dd {
    display: flex;
    justify-content: flex-end;
    .none {
      display: flex;
      align-items: center;
      color: #999;
      img {
        width: 14px;
        height: 14px;
        margin-left: 10px;
      }
      .underline {
        margin-left: 15px;
      }
    }

    &.left {
      justify-content: flex-start;
    }
    .underline {
      color: #1142bf;
      border-bottom: 1px solid;
    }
  }
}

.alert-list {
  li {
    list-style: url("/assets/icons/alert-gray.svg");
    font-size: 14px;
    line-height: 21px;
    color: #8894a0;
    text-align: left;
  }
}

.location-info {
  font-size: 16px;
  border-radius: 10px;
  position: relative;
  padding: 15px 10px;
  padding-left: 40px;
  background: url("/assets/icons/location-icon-gray.png") no-repeat;
  background-color: #f5f6fa;
  background-size: 13px;
  background-position: 15px center;
}
