@import "common.css";
@import "Result.css";
#ExtraResultPage {
  background-color: #f6f8fa;
  .content {
    background-color: #fff;
    padding-top: 50px;
    .result-light {
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      img {
        width: 100%;
      }
      .result-light__main {
        text-align: center;
        font-family: "sm";
        font-size: 24px;
      }
      .result-light__detail {
        text-align: center;
        font-family: "sr";
        font-size: 15px;
        color: #4e5968;
        line-height: 25px;
      }
    }
    .result-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      li {
        position: relative;
        background-color: #f8f8f8;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
        display: flex;
        justify-content: space-between;
        padding: 28px 50px 28px 20px;
        p {
          font-family: "sm";
        }
        &:before {
          content: "";
          display: block;
          background: url("/assets/icons/arrow-simple-right.svg") no-repeat;
          background-position: right 20px center;
          top: 0;
          right: 0;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        &.white {
          background-color: #fff;
        }
      }
    }
  }
  .page-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    background-color: rgba($color: #fff, $alpha: 0.8);
    padding: 18px 20px;
    button {
      height: 60px;
      font-family: "sm";
      font-size: 18px;
    }
  }
}
#ConfirmNotice {
  .content {
    .detail-comment {
      font-family: "sr";
      font-size: 15px;
      line-height: 24px;
      color: #8894a0;
    }
    .text-content {
      font-family: "sr";
      font-size: 15px;
      line-height: 23px;
      color: #6b7684;
      .text-underline {
        color: #18171a;
      }
    }
    .input-group {
      position: relative;
      .pr {
        width: fit-content;
        height: fit-content;
        position: absolute;
        right: 0;
        top: 19px;
        font-family: "sr";
        font-size: 18px;
        color: #bbb;
      }
      .input-result {
        width: 100%;
        text-align: right;
        font-family: "sm";
        font-size: 20px;
        color: #1142bf;
      }
    }
    .radio-type {
      font-size: 16px;
      + label {
        font-size: 16px;
      }
    }
  }
}
