@import "Main.css";
@import "common.css";
#MainPage {
  .history-list {
    background-color: #fff;
    border-radius: 5px;
    margin: 30px;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.04);
    li {
      padding: 20px;
      background: url("../assets/icons/arrow-simple-right.svg") no-repeat;
      background-position: right 20px center;
      p {
        font-family: "sm";
        font-size: 17px;
        small {
          font-family: "sr";
          font-size: 14px;
          &.gray {
            color: #8894a0;
          }
        }
      }
      &:not(:first-child) {
        border-top: 1px solid #ededed;
      }
    }
  }
  .hitory-list-link {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    p {
      color: #8894a0;
      font-family: "sr";
      font-size: 15px;
    }
  }
}
