@import "common.css";
#PaymentLoading {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    .page-title {
      font-family: "sm";
      font-size: 24px;
    }
    .page-title__sub {
      font-family: "sr";
      font-size: 16px;
      color: #8894a0;
    }
  }
}
