* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
select,
textarea,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
  word-break: normal;
}
html {
  overflow-y: auto;
}
html,
body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  min-width: 320px;
}
ul,
ol {
  list-style-type: none;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: 400;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
  outline: none;
}
label {
  cursor: pointer;
}
i,
em,
address {
  font-style: normal;
}
caption,
legend {
  visibility: hidden;
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}
img {
  max-width: 100%;
  display: block;
}

/* html5 ie9 else */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
header,
nav,
main,
section,
aside,
footer {
  display: block;
}

/* SKIP */
hr.skip {
  position: absolute;
  left: -99999px;
}
h2.skip {
  text-indent: -99999px;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
}
.skip_nav {
  width: 100%;
  height: 30px;
  text-align: center;
  position: absolute;
  top: -50px;
  background: #000;
  z-index: 50;
}

button,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  outline: none;
  background: none;
  font-family: var(--sr);
  width: 100%;
  letter-spacing: -1px;
}
button {
  background: none;
}
summary {
  cursor: pointer;
}

a {
  display: block;
}

img {
  width: auto;
  height: auto;
}

textarea {
  border: none;
  background: none;
  outline: none;
  resize: none;
}

details {
  summary {
    /* summary 초기화 */
    list-style: none;
    list-style-type: none;

    /* 아이폰 대응용 */
    -webkit-appearance: none;
    &::-webkit-details-marker {
      display: none;
    }
  }
}
