@import "common.css";
#ResultPage {
  background-color: #f6f8fa;
  .toggle-content--border {
    margin: 20px;
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    .button-flex {
      display: flex;
      gap: 14px;
      height: 50px;
    }
    .alert-list {
      border-top: 1px dashed #ededed;
      padding-top: 20px;
      padding-left: 29px;
    }
  }
  .content {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    padding: 40px 20px;
    .content__tabs {
      background-color: #f5f6fa;
      display: flex;

      border-radius: 10px;
      height: 58px;
      li {
        width: 50%;
        padding: 4px;
        input {
          display: none;
        }
        input:checked + label {
          background-color: #fff;
          color: #18141a;
          font-family: "sm";
          border-radius: 8px;
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.04);
        }
        label {
          width: 100%;
          height: 100%;
          color: #4e5968;
          text-align: center;
          display: block;
          font-family: "sr";
          font-size: 15px;
          padding: 15px;
        }
      }
    }
    .content__title {
      font-size: 20px;
      line-height: 31px;
    }
    .content__title-sub {
      font-size: 15px;
      line-height: 22px;
      color: #8894a0;
    }
    .content__nav {
      display: flex;
      gap: 15px;
      li {
        width: fit-content;
        padding: 10px 15px;
        border-radius: 21px;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        &.on {
          background: url("/assets/icons/check-white.png") no-repeat;
          background-position: right 15px center;
          background-color: #18141a;
          color: #fff;
          padding-right: 37px;
        }
      }
    }
    .info-block {
      .info__title {
        display: flex;
        justify-content: space-between;
        p {
          font-family: "sm";
          font-size: 18px;
        }
      }
    }
    .content__info-group {
      &:not(:first-child)::before {
        content: "";
        display: block;
        width: calc(100% + 40px);

        height: 10px;
        background-color: #f2f3f5;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.08);
        margin-top: 50px;
        margin-left: -20px;
      }
    }
  }
  .content__detail {
    .alert-list {
      padding-left: 29px;
    }
    .bottom-button {
      height: 60px;
      font-size: 16px;
      font-family: "sm";
    }
    .amount-text {
      display: flex;
      align-items: flex-end;
      font-family: "sm";
      font-size: 22px;
      color: #1142bf;
      small {
        margin-left: 12px;
        font-family: "sr";
        font-size: 17px;
      }
    }
    .dot-list {
      li {
        color: #18171a;
        font-size: 14px;
        position: relative;
        padding-left: 12px;
        text-align: left;
        &::before {
          content: "·";
          display: block;
          position: absolute;
          left: 0;
        }
      }
      &.gray {
        li {
          color: #8894a0;
        }
      }
    }
    .chart {
      position: relative;
      //   margin-left: 50px;
      //   margin-bottom: 50px;
      width: 100%;

      padding: 0 0 30px 50px;
      .bar-graph {
        position: relative;
        width: 100%;
        height: 241px;
        background-color: #f2f4f6;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        ul {
          position: absolute;
          display: flex;
          justify-content: space-around;
          width: 100%;
          height: 100%;
          transform: scaleY(-1);
          .bar {
            width: 18px;
            border-radius: 0 0 5px 5px;
            background-color: #cbd2e4;
            &.on {
              background-color: #1142bf;
            }
          }
        }
      }
      .column {
        position: absolute;
        height: calc(100% - 30px);
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #a9a9a9;
        font-size: 12px;
      }
      .row {
        position: absolute;
        display: flex;
        bottom: 0;
        width: calc(100% - 50px);
        justify-content: space-around;
        color: #a9a9a9;
        font-size: 12px;
      }
    }
    .review-card {
      width: 100%;
      border-radius: 10px;
      padding: 20px 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      .card--title {
        display: flex;
        justify-content: space-between;
        p {
          font-size: 16px;
        }
      }
      .card--content {
        border-top: 1px solid #ededed;
        padding-top: 30px;
        p {
          font-size: 14px;
          line-height: 22px;
        }
        .prev {
          color: #8894a0;
        }
        .recommend {
          background: url("/assets/icons/arrow-slim-right-blue.png") no-repeat;
          background-position: left center;
          padding-left: 32px;
        }
      }
    }
  }
  .detail-comment {
    color: #6b7684;
    &.small {
      font-size: 14px;
      line-height: 23px;
    }
    span {
      color: #18171a;
    }
  }
  ////////////////////////////////////////
  ////////////////////////////////////////
  ////////////////////////////////////////
  ///////////Toggle content///////////////
  ////////////////////////////////////////
  ////////////////////////////////////////
  ////////////////////////////////////////
  .num-list {
    margin-left: -20px;
    padding-left: 20px;
    li {
      display: flex;
      width: 100%;
      .number {
        color: #4e5968;
        background-color: #f2f4f6;
        border-radius: 3px;
        width: 18px;
        height: 18px;
        font-size: 12px;
        text-align: center;
      }
      .num__content {
        width: 100%;
        padding-left: 15px;
      }
    }
  }
}

.toggle-content {
  summary {
    list-style: none;
    position: relative;
    font-family: "sm";
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    &::before {
      content: "";
      display: block;
      background: url("/assets/icons/arrow-simple-top.png") no-repeat;
      background-size: 20px;
      background-position: right center;
      top: 0;
      right: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: scaleY(-1);
    }
    .tag {
      width: fit-content;
      font-family: "sm";
      font-size: 13px;
      background-color: #dfe8ff;
      color: #1142bf;
      border-radius: 3px;
      height: 100%;
      padding: 0 7px;
    }
  }
  &[open] {
    summary::before {
      content: "";
      display: block;
      background: url("/assets/icons/arrow-simple-top.png") no-repeat;
      background-size: 20px;
      background-position: right center;
      transform: scaleY(1);
    }
  }
  .content__detail {
    &.border {
      border-top: 1px solid #ededed;
    }
  }
}
.toggle-content--border {
  margin: 20px;
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  .button-flex {
    display: flex;
    gap: 14px;
    height: 50px;
    button {
      font-family: "sm";
      font-size: 16px;
    }
  }
  .alert-list {
    padding-top: 20px;
    padding-left: 29px;
    &.border {
      border-top: 1px dashed #ededed;
    }
  }
}

#ConfirmNotice {
  padding: 20px;
  .content {
    height: fit-content;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    .main-comment {
      font-family: "sm";
      font-size: 20px;
      line-height: 30px;
    }
    .detail-comment {
      font-family: "sr";
      font-size: 15px;
      line-height: 23px;
      color: #8894a0;
    }
    .button-flex {
      height: 60px;
      display: flex;
      gap: 14px;
      button {
        font-size: 18px;
      }
    }
    .file-type {
      &.camera {
        + label {
          background: url("/assets/icons/camera-gray.svg") no-repeat;
          background-position: left 15px center;
          background-color: #f5f6fa;
        }
      }
    }
    .flex {
      display: flex;
      gap: 15px;
      p {
        font-family: "sr";
        font-size: 18px;
        color: #4e5968;
        span {
          font-family: "sm";
          color: #1142bf;
        }
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid rgba(0, 27, 55, 0.1);
    text-align: center;
    font-size: 14px;
    padding: 12px 10px;
    &:first-child {
      border-left: none;
      max-width: 50%;
    }
    &:last-child {
      border-right: none;
    }
    &.sm {
      font-size: 13px;
      line-height: 19px;
    }
    small {
      color: #4e5968;
      &.gray {
        color: #999;
      }
    }
    &.left {
      text-align: left;
      padding-left: 20px;
    }
    &.np {
      padding: 0;
    }
    &.slim {
      padding: 5px 0;
    }
  }
  th {
    background-color: #f2f4f6;
    color: #333d4b;
  }
  tr {
    color: #4e5968;
    &.on {
      color: #18171a;
      background-color: #eaf0ff;
    }
  }

  caption {
    color: #8894a0;
    font-size: 12px;
    margin-bottom: 16px;
    text-align: right;
  }
}
